---
---

<header class="intro mar-tb-7">
    <h1 class="intro__headline">Yo! I'm Tom Meagher (<i>MAH-hur</i>),</h1>
    <small class="intro__subline">a software engineer that likes storytelling, tea, and soccer.
    </small>
</header>

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}
        </div>
      </section>
    {% endunless %}
    <section
      id="y{{post.date | date: "%Y"}}"
      class="posts mar-b-7"
    >
      <h3 class="posts__title">{{ currentdate }}</h3>
  {% assign date = currentdate %}
      <div class="posts__group">
  {% endif %}
        <a class="post" href="{{ post.url | prepend: site.baseurl }}">
          <span class="post__title">{{ post.title }}</span>
          <time class="post__date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%b %d" }}</time>
        </a>
{% endfor %}
