// Type
$sans-serif: 'Avenir', 'Lato', sans-serif;
$mono: 'Inconsolata', 'Lucida Console', monospace;

// Colors
$blue: #0087F8;
$black: #000000;

// Misc
$transition: .25s ease-in-out;
$sm: 544px;
$md: 740px;